<!DOCTYPE html>
<html lang="de">

<head>
  <title>CineTicket</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Entdecken Sie das einzigartige CineTicket-Kinoreservierungssystem! Machen Sie Ihren Kinobesuch in Friedrichshafen, Hamburg, Hannover, Konstanz, München, Radolfzell, Singen oder Stuttgart stressfrei und aufregend. CineTicket ermöglicht bequeme Online-Ticketkäufe für jeden Filmfan, von Blockbustern bis zu zeitlosen Klassikern.">
  <meta name="keywords" content="CineTicket, Kino, Online-Ticketreservierung, Filmerlebnisse, Kinobesuch, Familie, Umgebung, Kinokarten">


  <!--STYLES-->
  <link rel="stylesheet" href="/dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="/dependencies/vuetify.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--STYLES END-->
</head>



<body>
  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/dependencies/vue.global.js"></script>
  <script src="/dependencies/bootstrap.min.js"></script>
  <script src="/dependencies/vue-router.global.js"></script>
  <script src="/dependencies/vuetify.min.js"></script>
  <!--SCRIPTS END-->
  <header class="border-bottom">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid" style="width: 100%">
        <a class="navbar-brand" href="/">CineTicket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navigation-bar-div mt-5 mb-5" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">

            <!-- LOGGED-IN NAVIGATION -->
            <% if(req.me) { %>
              <!-- Added Block für Super user Navigation-->
              <% if(req.me.isSuperAdmin) { %>
                <!-- <div class="container-fluid"> -->
                  <div class="collapse navbar-collapse custom-navbar-collapse justify-content-end ms-5" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                      <% if (req.me.isSuperAdmin) { %>
                        <li class="nav-item fs-5">
                          <a class="nav-link active fw-semibold" href="/admin">Adminbereich</a>
                        </li>
                        <% } %>
                    </ul>
                  </div>
                <!-- </div> -->
                <% } %>
                  <!-- Only in desktop nav -->
                  <!-- <div class="container-fluid"> -->
                    <div class="collapse navbar-collapse custom-navbar-collapse justify-content-end ms-5" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-auto">
                        <li class="nav-item fs-5">
                          <a class="nav-link active fw-semibold" href="/search">Suchen</a>
                        </li>
                      </ul>
                    </div>
                    <div class="collapse navbar-collapse custom-navbar-collapse justify-content-end ms-5" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-auto">
                        <li class="nav-item fs-5">
                          <a class="nav-link active fw-semibold" href="/account">Mein Account</a>
                        </li>
                        <li class="nav-item fs-5">
                          <a class="nav-link active fw-semibold" href="/logout">Ausloggen</a>
                        </li>
                      </ul>
                    </div>
                  <!-- </div> -->
                  <% } else { %>
                    <!-- <div class="container-fluid"> -->
                      <!-- LOGGED-OUT NAVIGATION -->
                      <!-- <a class="btn btn-primary" href="/search"> Filme Suchen</a>
                      <a class="btn btn-primary" href="/login">Log in</a>
                      <a class="btn btn-primary" href="/signup">Sign up</a> -->
                      <div class="collapse navbar-collapse custom-navbar-collapse justify-content-end ms-5" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item fs-5">
                            <a class="nav-link active fw-semibold" href="/search">Suchen</a>
                          </li>
                        </ul>
                      </div>
                      <div class="collapse navbar-collapse custom-navbar-collapse justify-content-end ms-5" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item fs-5">
                            <a class="nav-link active fw-semibold" href="/login">Einloggen</a>
                          </li>
                          <li class="nav-item fs-5">
                            <a class="nav-link active fw-semibold" href="/signup">Registrieren</a>
                          </li>
                        </ul>
                      </div>

                    <!-- </div> -->
                    <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <%- body %>

    <footer class="border-top p-3">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <div>
          <a class="navbar-brand fs-5 text-decoration-none" href="/">CineTicket</a>
        </div>
        <div class="d-flex flex-column">
          <a class="fs-5 text-decoration-none" href="legal-notice">Impressum</a>
          <a class="fs-5 text-decoration-none" href="data-privacy">Datenschutz</a>
          <a class="fs-5 text-decoration-none" href="contact">Kontakt</a>
        </div>
      </div>
    </footer>
</body>

</html>