<div id="edit-profile" class="content-container p-5" v-cloak>
  <account-notification-banner></account-notification-banner>
  <h1 class="pb-3 headlines">Persönliche Informationen ändern</h1>
  <div class="pt-5 pb-5 movies-list-container">
    <form action="/updateProfile" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="full-name">Name</label>
            <input class="form-control" id="full-name" name="fullName" type="text" placeholder="Sturgis P. Sturgeon"
              autocomplete="name" focus-first value="<%= req.me.fullName %>">
            <div class="invalid-feedback">Bitte Namen eingeben.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email-address">Email</label>
            <input class="form-control" id="email-address" name="emailAddress" type="email"
              placeholder="sturgeon@example.com" autocomplete="email" value="<%= req.me.emailAddress %>">
            <div class="invalid-feedback">Bitte eine gültige E-Mail Adresse angeben.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <!-- There is already an account using that email address. -->
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right pt-4">
            <a class="btn color-sky-blue" href="/account">Abbrechen</a>
            <button type="submit" class="btn btn-success color-white">Speichern</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>