<div class="container">
    <h1>Kategorien</h1>

    <div class="pt-3">
        <table class="table">
            <thead>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <% categories.forEach(function(category){ %>
                    <tr>
                        <td>
                            <%= category.name %>
                        </td>
                        <td>
                            <td><a class="btn btn-secondary" href="/category/<%= category.id %>">anzeigen</a></td>
                            <td><a class="btn btn-warning" href="/category/<%= category.id %>/edit">ändern</a></td>
                            <td><a class="btn btn-danger" href="/category/<%= category.id %>/destroy">löschen</a></td>
                        </td>
                    </tr>
                    <% }); %>
                    
            </tbody>
        </table>

        <a class="btn btn-primary" href="/category/new">Hinzufügen</a>
    </div>
</div>
</div>