<div class="content-container p-5 d-flex justify-content-center">
    <div class="card h-100 w-50">
        <table class="table table-hover table-bordered m-0">
            <tr>
                <th>
                    Kategorien
                </th>
                    <td>
                        <%= category.name %>
                    </td>
                <th>
                    KategorienId
                </th>
                    <td>
                        <%= category.id %>
                    </td>
            </tr>
        </table>
    </div>
</div>