<div id="signup" class="content-container p-5">
  <h1 class="text-center headlines">Account erstellen</h1>
  <div class="container-fluid pt-5 pb-5 movies-list-container">
    <div style="max-width: 450px;" class="mx-auto">
      <p class="text-center">Die Registrierung ist kostenfrei und in wenigen Minuten abgeschlossen.</p>
      <hr />
      <form action="signup" method="POST">
        <div class="form-group">
          <label for="full-name">Name</label>
          <input class="form-control" id="full-name" name="fullName" type="text" placeholder="" autocomplete="name"
            focus-first>
          <div class="invalid-feedback">Bitte Namen eingeben.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Email</label>
          <input class="form-control" id="email-address" name="emailAddress" type="email" placeholder="name@example.com"
            autocomplete="email">
          <div class="invalid-feedback">Bitte eine gültige E-Mail Adresse eingeben.</div>
        </div>
        <div class="form-group">
          <label for="password">Passwort</label>
          <input class="form-control" id="password" name="password" type="password" placeholder=""
            autocomplete="new-password">
          <div class="invalid-feedback">Bitte ein Passwort eingeben.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Passwort wiederholen</label>
          <input class="form-control" id="confirm-password" name="confirmPassword" type="password" placeholder=""
            autocomplete="new-password">
          <div class="invalid-feedback">Die Passwörter stimmen nicht überein.</div>
        </div>
        <div class="form-group form-check pt-3">
          <input class="form-check-input" id="terms-agreement" name="termsAgreement" type="checkbox"
            v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label">Ich habe die <a>AGBs</a> gelesen und bestätige
            diese.</label>
        </div>
        <div class="form-group pt-3">
          <button type="submit" class="btn btn-lg color-sky-blue">Account erstellen</button>
        </div>
        <div class="pt-5">
          <p>Account schon vorhanden? <a href="/login">Einloggen</a></p>
        </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>