body {
    background-color: #D9DCD6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-space {
    width: 75%;
}

.content-container {
    background-color: white;
    flex: 1;
}

.home-slideshow-section {
    position: relative;
    width: 100%;
    height: calc(50vh);
    overflow: hidden;
}

.home-slideshow-image-container {
    width: 100%;
    height: 100%;
}

.home-slideshow {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: slideIn;
    animation-duration: 1s;
}

.home-text-container {
    animation-name: fadeIn;
    animation-duration: 2s;
    width: 60%;
    text-align: center;
}

.location-selection-container {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
}

.location-selection {
    margin: 1.5rem;
    width: 100%;
}

.location-selection a {
    margin-bottom: .25rem;
    width: 100%;
}

.location-selection a:hover {
    text-decoration: underline;
}

.about-us-container {
    width: 60%;
}

@media (max-width: 768px) {
    .location-selection-container {
        flex-direction: column;
    }
    
    .location-selection {
        margin: 0;
    }

    .location-selection a {
        margin-bottom: .5rem;
    }
    .about-us-container {
        width: 80%;
    }
    .side-space {
        width: 100%;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(1500px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}