<div class="content-container p-md-5 p-2 d-flex justify-content-center">
    <div class="side-space">
        <div class="p-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-3">
            <%= moviename %> wurde erfolgreich hinzugefügt!
        </div>
        <a class="btn btn-primary mt-3" href="/movie">Zurück zur Übersicht</a>
    </div>
</div>