<div class="content-container p-md-5 p-2 d-flex justify-content-center">
    <div class="side-space d-flex flex-column align-center">
        <h2 class="headlines text-center">Willkommen im Adminbereich!</h2>
        <div class="card movies-list-container color-sky-blue mt-5 w-100 text-center">
            <div class="card-body">
                <a class="btn fs-1 fw-bold w-100" href="/movie">Filme anzeigen</a>
            </div>
        </div>
        <div class="card movies-list-container color-sky-blue mt-3 w-100 text-center">
            <div class="card-body">
                <a class="btn fs-1 fw-bold w-100" href="/category">Kategorie verwalten</a>
            </div>
        </div>
    </div>
</div>