<div class="content-container p-2 d-flex justify-content-center">
    <div class="side-space d-flex flex-column align-center">
        <h2 class="headlines text-center">Willkommen im Adminbereich!</h2>
        <div class="pt-5 movies-list-container">
            <a class="fs-1 fw-bold" href="/movie">Filme anzeigen</a>
        </div>
        <div class="pt-3 movies-list-container">
            <a class="fs-1 fw-bold" href="/category">Kategorie verwalten</a>
        </div>
    </div>
</div>