<div class="content-container p-5 d-flex justify-content-center">
    <div class="w-75">
        <h2>Adminbereich</h2>
        <div class="pt-3">
            <a class="btn btn-primary" href="/movie">Filme anzeigen</a>
        </div>
        <div class="pt-3">
            <a class="btn btn-primary" href="/category">Kategorie verwalten</a>
        </div>
    </div>
</div>