<div class="content-container p-5 fs-4">
    <p><h2>Kontakt</h2> <br>
        <p>Cineticket<br>
            Kinostraße 1<br>
            78464 Konstanz <br>
        </p>
        <strong>E-Mail:</strong> contact@cineticket.htwg</br>
    </p>
</div>