<div class="d-flex flex-column align-items-center">
    <div class="home-slideshow-section">
        <div class="home-slideshow-image-container">
            <img class="home-slideshow" src="images/home_ticket.jpg" alt="">
        </div>
    </div>
    <div class="home-text-container d-flex flex-column align-items-center mt-5">
        <div>
            <h2>Willkommen bei CineTicket!</h2>
        </div>
        <div>
            <p>Wählen Sie den Standort Ihres Kinos aus:
            <p>
        </div>
        <div class="location-selection-container">
            <div class="location-selection list-group">
                <a href="/movie-overview" class="list-group-item list-group-item-action">Friedrichshafen</a>
                <a href="/movie-overview" class="list-group-item list-group-item-action">Hamburg</a>
                <a href="/movie-overview" class="list-group-item list-group-item-action">Hannover</a>
                <a href="/movie-overview" class="list-group-item list-group-item-action">Konstanz</a>
            </div>
            <div class="location-selection list-group">
                <a href="/movie-overview" class="list-group-item list-group-item-action">München</a>
                <a href="/movie-overview" class="list-group-item list-group-item-action">Radolfzell</a>
                <a href="/movie-overview" class="list-group-item list-group-item-action">Singen</a>
                <a href="/movie-overview" class="list-group-item list-group-item-action">Stuttgart</a>
            </div>
        </div>
    </div>
    <div class="about-us-container mt-5 mb-5">
        <h2 class="text-center mb-4">Warum CineTicket?</h2>
        <p>Willkommen im faszinierenden CineTicket-Kinoreservierungssystem – Ihrem Tor zu
            unvergesslichen Filmerlebnissen! Hier bei CineTicket sind wir davon überzeugt, dass
            Kino nicht einfach nur ein Ort ist, um Filme anzusehen, sondern ein Ort, an dem
            Träume, Geschichten und Emotionen zum Leben erweckt werden. Unser System
            wurde entwickelt, um Ihre Kinobesuche zu einem bequemen, aufregenden und
            stressfreien Erlebnis zu machen.
        </p>
        <p>
            Mit CineTicket können Sie die Welt des Kinos wie nie zuvor erleben. Ob Sie ein
            begeisterter Filmfan, ein Gelegenheitsbesucher oder ein Familienmensch sind, wir
            haben für jeden etwas Besonderes zu bieten. Wir laden Sie ein, Ihre Reise bereits
            von zu Hause aus zu beginnen, indem Sie Ihre Tickets online reservieren.
            Verabschieden Sie sich von Warteschlangen und stressigen Last-Minute-Buchungen!
        </p>
        <p>
            Unser benutzerfreundliches System bietet Ihnen eine Fülle von Optionen, um Ihren
            Kinobesuch zu gestalten. Wählen Sie aus einer breiten Palette von Filmen, von
            aktuellen Blockbustern bis zu zeitlosen Klassikern. Wir bieten auch spezielle
            Vorstellungen für Kinder, die ganze Familie und Kino Enthusiasten. Egal, ob Sie sich
            für 2D, 3D, IMAX oder sogar Premium-Sitze entscheiden, wir haben die besten
            Plätze für Sie reserviert.
        </p>
        <p>
            Die Zukunft des Kinos beginnt hier bei CineTicket. Unsere innovative Technologie
            ermöglicht es Ihnen, Ihren Sitzplatz auszuwählen, Snacks vorzubestellen und sogar
            Ihr Ticket auf Ihrem Smartphone zu speichern. So wird Ihr Kinobesuch reibungslos
            und bequem, ohne Stress oder Hektik.
        </p>
    </div>
</div>