<div class="d-flex flex-column align-items-center">
    <div class="home-slideshow-section">
        <div class="home-slideshow-image-container">
            <img class="home-slideshow" srcset="images/home_ticket_320.jpg 320w,
            images/home_ticket_640.jpg 640w,
            images/home_ticket.jpg 1280w"
            sizes="(max-width: 320px) 320px,
            (max-width: 640px) 640px,
            (max-width:1280) 1280px"
            src="images/home_ticket.jpg" alt="CineTicket Kinokarten">
        </div>
    </div>
    <div class="home-text-container d-flex flex-column align-items-center mt-5">
        <div>
            <h1 class="headlines">Willkommen bei CineTicket!</h1>
        </div>
        <div>
            <p class="fs-5">Wählen Sie den Standort Ihres Kinos aus:<p>
        </div>
        <div class="location-selection-container">
            <div class="location-selection list-group">
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'Friedrichshafen')"><span class="keyword">Friedrichshafen</span></a>
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'Hamburg')"><span class="keyword">Hamburg</span></a>
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'Hannover')"><span class="keyword">Hannover</span></a>
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'Konstanz')"><span class="keyword">Konstanz</span></a>
            </div>
            <div class="location-selection list-group">
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'München')"><span class="keyword">München</span></a>
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'Radolfzell')"><span class="keyword">Radolfzell</span></a>
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'Singen')"><span class="keyword">Singen</span></a>
                <a href="/movie-overview" class="list-group-item list-group-item-action location-button" onclick="localStorage.setItem('location', 'Stuttgart')"><span class="keyword">Stuttgart</span></a>
            </div>
        </div>
    </div>
    <div class="about-us-container mt-5 mb-5">
        <h2 class="text-center mb-4">Warum <span class="keyword">CineTicket</span>?</h2>
        <p>Willkommen im bezaubertem <span class="keyword">CineTicket</span>-Kinoreservierungssystem – Ihrem Tor zu unvergesslichen Filmerlebnissen!
            Hier bei <span class="keyword">CineTicket</span> sind wir davon überzeugt, dass Kino nicht einfach nur ein Ort ist, um Filme anzusehen, 
            sondern ein Ort, an dem Träume, Geschichten und Emotionen zum Leben erweckt werden.
            Unser System wurde entwickelt, um Ihre Kinobesuche zu einem bequemen, aufregenden und stressfreien Erlebnis zu machen.
        </p>
        <p>
            <span class="keyword">CineTicket</span> ermöglicht Ihnen Ihren Kinobesuch zu einem unvergesslichen Erlebnis für jeden zu gestalten.
            Egal ob sie ein <span class="keyword">Familien</span>mensch, ein Gelegenheitsbesucher oder ein <span class="keyword">Filmenthusiast</span> sind, hier bei CineTicket werden Sie alle findig.
            Sei es Geburtstage, Familientreffen oder jegliche andere Veranstaltungen, wir laden Sie ein,
            Ihre Reise bereits von zu Hause auszubeginnen. Verabschieden Sie sich von langen Warteschlagen an Kinokassen,
            kaufen Sie Ihre Tickets bereits im Voraus online bei uns auf CineTicket.
        </p>
        <p>
            Die <span class="keyword">Zukunft</span> des Kinobesuches beginnt hier und heute bei uns mit Hilfe von <span class="keyword">CineTicket</span>.
            Unser benutzerfreundliches Kartenreservationssystem ermöglicht den Kauf von Kinokarten, 
            bereits mit nur wenigen Klicks. Wählen Sie aus einer breiten Palette von Filmen,
            von aktuellen <span class="keyword">Blockbustern</span> bis zu zeitlosen <span class="keyword">Klassikern</span>. Egal, ob Sie sich für 2D, 3D, IMAX
            oder sogar Premium-Sitze entscheiden, wir haben die besten Plätze für Sie parat.
        </p>
    </div>
</div>
